/* line 8, styles/sass/main.scss */
.d-none {
  display: none !important; }

/* line 13, styles/sass/main.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none; }

/* line 22, styles/sass/main.scss */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #191716;
  line-height: 1.5rem;
  background: #e0e2db;
  position: relative;
  width: 100%;
  height: 100vh; }

/* line 32, styles/sass/main.scss */
.add {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  background: #3d348b;
  color: #fff;
  border: 0;
  border-radius: 50%;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.1s ease;
  transform: translateZ(0) scale(1); }
  /* line 47, styles/sass/main.scss */
  .add:hover {
    transform: translateZ(0) scale(1.1); }

/* line 51, styles/sass/main.scss */
.header {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem; }

/* line 60, styles/sass/main.scss */
.container {
  max-width: 90%;
  margin: 0 auto; }

/* line 64, styles/sass/main.scss */
.notes__wrapper {
  display: flex;
  flex-flow: row wrap; }
  /* line 68, styles/sass/main.scss */
  .notes__wrapper .note {
    flex-basis: 20%;
    padding: 1rem; }
    /* line 72, styles/sass/main.scss */
    .notes__wrapper .note__inner {
      background: #e6af2e;
      min-height: 18rem;
      padding: 1.5rem;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
      position: relative; }
    /* line 79, styles/sass/main.scss */
    .notes__wrapper .note__title {
      font-size: 1.4rem;
      margin-bottom: 0.8rem; }
    /* line 83, styles/sass/main.scss */
    .notes__wrapper .note__footer {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      bottom: 1rem;
      right: 1rem; }
      /* line 90, styles/sass/main.scss */
      .notes__wrapper .note__footer .icon {
        margin: 0 0.5rem;
        cursor: pointer; }

/* line 97, styles/sass/main.scss */
.form__wrapper,
.edit-form__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; }

/* line 109, styles/sass/main.scss */
.add-note,
.edit-note {
  background: #fff;
  width: 40%;
  padding: 3rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  position: relative; }
  /* line 119, styles/sass/main.scss */
  .add-note .close,
  .edit-note .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer; }
  /* line 126, styles/sass/main.scss */
  .add-note label,
  .edit-note label {
    margin-bottom: 0.5rem; }
  /* line 129, styles/sass/main.scss */
  .add-note .input,
  .add-note textarea,
  .edit-note .input,
  .edit-note textarea {
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: all 0.2s;
    resize: none; }
    /* line 137, styles/sass/main.scss */
    .add-note .input:focus,
    .add-note textarea:focus,
    .edit-note .input:focus,
    .edit-note textarea:focus {
      border-color: #3d348b;
      box-shadow: 0 0 0 0.2rem rgba(61, 52, 139, 0.25); }
  /* line 142, styles/sass/main.scss */
  .add-note .submit,
  .edit-note .submit {
    align-self: flex-end;
    margin-top: 1rem;
    background: #3d348b;
    color: #fff;
    border: 0;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s; }
    /* line 154, styles/sass/main.scss */
    .add-note .submit:hover,
    .edit-note .submit:hover {
      background: #352d78; }
