/* line 8, styles/sass/main.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
.page {
  display: none;
}
.page.loaded {
  display: block;
}
/* line 17, styles/sass/main.scss */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #191716;
  line-height: 1.5rem;
  background: #e0e2db;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ee6e73;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  opacity: 1;
}
.preloader.loaded {
  opacity: 0;
}
svg {
  width: 3.75em;
  transform-origin: center;
  animation: rotate 2s linear infinite;
}

circle {
  fill: none;
  stroke: #3d348b;
  stroke-width: 3;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}

/* line 28, styles/sass/main.scss */
.add {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  background: #3d348b;
  color: #fff;
  border: 0;
  border-radius: 50%;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.1s ease;
  transform: translateZ(0) scale(1);
}
/* line 43, styles/sass/main.scss */
.add:hover {
  transform: translateZ(0) scale(1.1);
}
/* line 46, styles/sass/main.scss */
.add:active,
.add:focus {
  background: #3d348b;
}

/* line 51, styles/sass/main.scss */
.nav__item {
  display: none;
}

/* line 54, styles/sass/main.scss */
.header {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

/* line 63, styles/sass/main.scss */
.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 5rem;
}

/* line 69, styles/sass/main.scss */
.error {
  width: 100%;
  display: none;
  text-align: center;
}

/* line 74, styles/sass/main.scss */
.notes__wrapper {
  display: flex;
  flex-flow: row wrap;
}
/* line 78, styles/sass/main.scss */
.notes__wrapper .note {
  flex-basis: 20%;
  padding: 1rem;
}
@media screen and (max-width: 576px) {
  /* line 78, styles/sass/main.scss */
  .notes__wrapper .note {
    flex-basis: 100%;
  }
}
/* line 85, styles/sass/main.scss */
.notes__wrapper .note__inner {
  background: #e6af2e;
  min-height: 18rem;
  padding: 1.5rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}
/* line 92, styles/sass/main.scss */
.notes__wrapper .note__title {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}
/* line 96, styles/sass/main.scss */
.notes__wrapper .note__footer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
/* line 103, styles/sass/main.scss */
.notes__wrapper .note__footer .icon {
  margin: 0 0.5rem;
  cursor: pointer;
  font-size: 1.3rem;
}

/* line 111, styles/sass/main.scss */
.form__wrapper,
.edit-form__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 123, styles/sass/main.scss */
.add-note,
.edit-note {
  background: #fff;
  width: 40%;
  padding: 3rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
/* line 133, styles/sass/main.scss */
.add-note .close,
.edit-note .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}
/* line 140, styles/sass/main.scss */
.add-note label,
.edit-note label {
  margin-bottom: 0.5rem;
}
/* line 143, styles/sass/main.scss */
.add-note .submit,
.edit-note .submit {
  align-self: flex-end;
  margin-top: 1rem;
  background: #3d348b;
  color: #fff;
  border: 0;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s;
}
/* line 155, styles/sass/main.scss */
.add-note .submit:hover,
.edit-note .submit:hover {
  background: #352d78;
}

/* line 160, styles/sass/main.scss */
.alert {
  border-radius: 0.25rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: #fff;
  padding: 0.5rem 1rem;
  width: 15rem;
  opacity: 1;
  transition: 0.6s;
}

/* line 171, styles/sass/main.scss */
.added {
  background: #018e42;
}

/* line 174, styles/sass/main.scss */
.deleted {
  background: #f03a47;
}

/* line 177, styles/sass/main.scss */
.updated {
  background: #ff9800;
}

/* line 181, styles/sass/main.scss */
.d-none {
  display: none;
}

/* line 184, styles/sass/main.scss */
.hide {
  opacity: 0;
}
