/* line 7, styles/sass/main.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 14, styles/sass/main.scss */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #0a0a23;
  line-height: 1.5rem;
  background: #f6f8ff; }
