// VARIABLES
$bg-color: #e0e2db;
$font-color: #191716;
$note-bg: #e6af2e;
$button-bg: #3d348b;

// BASE STYLES
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: $font-color;
  line-height: 1.5rem;
  background: $bg-color;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.add {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  background: $button-bg;
  color: #fff;
  border: 0;
  border-radius: 50%;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.1s ease;
  transform: translateZ(0) scale(1);

  &:hover {
    transform: translateZ(0) scale(1.1);
  }
}
.nav__item {
  display: none;
}
.header {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 5rem;
}
.error {
  width: 100%;
  display: none;
  text-align: center;
}
.notes__wrapper {
  display: flex;
  flex-flow: row wrap;

  .note {
    flex-basis: 20%;
    @media screen and (max-width: 576px) {
      flex-basis: 100%;
    }
    padding: 1rem;

    &__inner {
      background: $note-bg;
      min-height: 18rem;
      padding: 1.5rem;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
      position: relative;
    }
    &__title {
      font-size: 1.4rem;
      margin-bottom: 0.8rem;
    }
    &__footer {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      bottom: 1rem;
      right: 1rem;

      .icon {
        margin: 0 0.5rem;
        cursor: pointer;
      }
    }
  }
}
.form__wrapper,
.edit-form__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-note,
.edit-note {
  background: #fff;
  width: 40%;
  padding: 3rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;

  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
  }
  label {
    margin-bottom: 0.5rem;
  }
  .submit {
    align-self: flex-end;
    margin-top: 1rem;
    background: $button-bg;
    color: #fff;
    border: 0;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background: darken($button-bg, 5%);
    }
  }
}
.alert {
  border-radius: 0.25rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: #fff;
  padding: 0.5rem 1rem;
  width: 15rem;
  opacity: 1;
  transition: 0.6s;
}
.added {
  background: #018e42;
}
.deleted {
  background: #f03a47;
}
.updated {
  background: #ff9800;
}

.d-none {
  display: none;
}
.hide {
  opacity: 0;
}
