//@import '../../node_modules/materialize-css/dist/css/materialize.min.css';

// VARIABLES
$bg-color: #e0e2db;
$font-color: #191716;
$note-bg: #e6af2e;
$button-bg: #3d348b;

// BASE STYLES
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
.page {
  display: none;
}
.page.loaded {
  display: block;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: $font-color;
  line-height: 1.5rem;
  background: $bg-color;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ee6e73;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  opacity: 1;
}
.preloader.loaded {
  opacity: 0;
}
svg {
  width: 3.75em;
  transform-origin: center;
  animation: rotate 2s linear infinite;
}

circle {
  fill: none;
  stroke: #3d348b;
  stroke-width: 3;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}
.add {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  background: $button-bg;
  color: #fff;
  border: 0;
  border-radius: 50%;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.1s ease;
  transform: translateZ(0) scale(1);

  &:hover {
    transform: translateZ(0) scale(1.1);
  }
  &:active,
  &:focus {
    background: $button-bg;
  }
}
.nav__item {
  display: none;
}
.header {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 5rem;
}
.error {
  width: 100%;
  display: none;
  text-align: center;
}
.info-text {
  flex-basis: 100%;
  font-size: 1.65rem;
  line-height: 110%;
  margin: 1.0933333333rem 0 0.656rem 0;
  text-align: center;
}
.notes__wrapper {
  display: flex;
  flex-flow: row wrap;

  .note {
    flex-basis: 20%;
    @media screen and (max-width: 576px) {
      flex-basis: 100%;
    }
    padding: 1rem;

    &__inner {
      background: $note-bg;
      min-height: 18rem;
      padding: 1.5rem;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
      position: relative;
    }
    &__title {
      font-size: 1.4rem;
      margin-bottom: 0.8rem;
    }
    &__footer {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      bottom: 1rem;
      right: 1rem;

      .icon {
        margin: 0 0.5rem;
        cursor: pointer;
        font-size: 1.3rem;
      }
    }
  }
}
.toast-notification {
  border-radius: 0.25rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: #fff;
  padding: 0.5rem 1rem;
  width: 15rem;
  opacity: 0;
  pointer-events: none;
  transition: 0.6s;

  &.show {
    opacity: 1;
    pointer-events: all;
  }
}
.added {
  background: #018e42;
}
.deleted {
  background: #f03a47;
}
.updated {
  background: #ff9800;
}

.d-none {
  display: none;
}
.hide {
  opacity: 0;
}

// Sweetalert custom styles
.swal2-popup {
  border-radius: 2px !important;

  .dialog-btn {
    margin: 0 5px;
  }
}
